<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.search.default.directory_provider">filesystem</property>
		<property name="hibernate.search.default.indexBase">C:/Dev/GridManager/indexes</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<mapping class="net.novacodex.hibernate.search.spatial.POI"/>
		
	</session-factory>
</hibernate-configuration>